<!DOCTYPE html>

<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">

		<title>Generator Password</title>

		<link rel="shortcut icon" href="/assets/images/template-v1/generate.png">
		<link rel="stylesheet" href="/assets/stylesheets/template-v1/main.css" type="text/css" media="screen" charset="utf-8">
	</head>

	<body id="index" class="home">

		<header id="banner" class="body">
			<nav>
				<ul>
					<li class="active">
						<a href="#">Home</a>
					</li>
				</ul>
			</nav>
		</header>

		<aside id="featured" class="body">
			<article>
				<figure>
					<img src="/assets/images/template-v1/lock.png" alt="Lock" width="50px" class="generate_password" border="0px" />
				</figure>
				<hgroup>
					<h2>Generator Password</h2>
				</hgroup>
				<p>An application to generate new passwords easily.</p>
			</article>
		</aside>

		<section id="content" class="body">
			<ol id="posts-list" class="hfeed">
				<li>
					<article>
						<div class="entry-content">
							<p class="my_CSS3_class">Click the lock</p>
						</div>
					</article>
				</li>
			</ol>
		</section>

		<script src="/assets/javascripts/jquery-v1.4.2/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			jQuery.noConflict();
		</script>
		<script src="/helpers/home/index.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>
